################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/jk.WebApplication1/jk.WebApplication1/bin/Debug/net5.0
/jk.WebApplication1/jk.WebApplication1/obj
/jk.WebApplication1/.vs/jk.WebApplication1
